.button-container {
  display: flex;
  justify-content: center;
  max-width: 600px;

  .login-button {
    background-color: lightblue;
    font-weight: 400;
    color: darkslateblue;
    margin-right: 7px;
  }

  .login-button:hover {
    background-color: cadetblue;
    border: 1px solid blanchedalmond;
    border-radius: 3px;
    padding: 3px;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .login-button:disabled{
      cursor: not-allowed;
      opacity: 0.6;
  }
}
